{{>partials/header}}

<!-- Inicio Filtro -->
            <div class="container-fluid pt-4 px-4">
                <!-- form method="" action="" -->
                    <div class="row">
                        <div class="col-sm-12 col-xl">
                            <div class="bg-light text-center rounded p-3">
                                <div class="d-flex align-items-center justify-content-between mb">
                                    
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <td scope="col" colspan="3"><h5 class="mb-0">Filtros</h6></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <form method='POST' action='/'>
                                            <tr>
                                                <td>
                                                    <label>Modelo Dashboard
                                                        <select class="btn" name="dashboardSelecionado" id="dashboardSelecionado">
                                                            <option selected value="dashboardGeral">Regra Incorreta Geral</option>
                                                            <option value="dashboardUnidade">Regra Incorreta Unidade</option>
                                                            <option value="dashboardRanking">Ranking Unidade C/ Regra Incorreta</option>
                                                        </select>
                                                    </label>
                                                </td>
                                                <td>Emissão >= <input type="date" name="deEmissao" value="{{deEmissao}}" class="btn" required></td>
                                                <td>Emissão <= <input type="date" name="ateEmissao" value="{{ateEmissao}}" class="btn" required></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label id="filtroUnidade" style="display: none;">Unidade
                                                        <select class="btn" name="unidade">
                                                            {{#agencia}}
                                                                <option value="{{cd_agencia}}">{{nm_agencia}}</option>
                                                            {{/agencia}}
                                                        </select>
                                                    </label>
                                                </td>
                                                <td colspan="1"></td>
                                                <td><input type='submit' class="btn" value='Filtrar' id="btnFiltro"></td>
                                            </tr>
                                        </form>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /form -->
            </div>
            <!-- Fim Filtro -->



            <!-- Inicio Dashboard -->
            <div class="container-fluid pt-4 px-4" id="dashboardDetalhes" >
                <div class="row">
                    <div class="col-sm-12 col-xl">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Relação de CTes</h6>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim Dashboard -->


            <!-- Inicio tabela de dados dashboard -->
            <div class="container-fluid pt-4 px-4" id="tabelaDetalhes" >
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">CTes Errados</h6>
                    </div>
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">CTe</th>
                                            <th scope="col">Emissão</th>
                                            <th scope="col">Agencia Emissão</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {{#totalCtesErrados}}
                                            <tr>
                                                <th scope="row">{{nr_ctrc}}</th>
                                                <td>{{dt_emissao}}</td>
                                                <td>
                                                    {{cd_agencia}}
                                                </td>
                                                <td><a class="btn btn-sm btn-primary" href="">Detalhes</a></td>
                                            </tr>
                                    {{/totalCtesErrados}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim tabela de dados dashboard -->
<script>
    let titulo = '{{deEmissao}} / {{ateEmissao}}'
    let total = {{totalEmissao}}
    let errado = {{totalEmissaoErrado}}

    // Grafico de relação de pedagios
    
    var ctx1 = $("#worldwide-sales").get(0).getContext("2d");
    var myChart1 = new Chart(ctx1, {
        type: "bar",
        data: {
            labels: [titulo],
            datasets: [{
                    label: "Total Emitidos",
                    data: [total],
                    backgroundColor: "rgba(0, 156, 255, .7)"
                },
                {
                    label: "CTes C/ Regra Errada",
                    data: [errado],
                    backgroundColor: "rgba(255, 255, 0, .7)"
                },
                {
                    label: "Relação %",
                    data: [((errado*100)/total).toFixed(2)],
                    backgroundColor: "rgba(255, 0, 0, .7)"
                }{{! ,
                {{#total}}
                {
                    label: "{{nm_agencia}}",
                    data: [{{count}}],
                    backgroundColor: "rgba(255, 0, 0, .7)"
                },
                {{/total}} }}
            ]
            },
        options: {
            responsive: true
        }
    });

</script>

    








{{>partials/footer}}